<nav>
    <ul>
        <li><a href="#">test 1</a></li>
        <li><a href="#">test 2</a></li>
        <li><a href="#">test 3</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('logout') }}"></a> </li>
        {% else %}
            <li><a href="{{ path('login') }}"></a> </li>
            <li><a href="{{ path('register') }}"></a> </li>
        {% endif %}
    </ul>
</nav>